/*===========================================================*/
/*Mobile and small tablets: from 481px to 767px*/
/*===========================================================*/

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px !important;
    }

    .my-section {
        padding: 38px 15px;
        width: 100% !important;
        left: 0;
        right: 0;
    }

    .main-text-box {
        position: relative !important;
        display: inline-block;
        top: 55%;
        left: 50%;
        padding: 0 8%;
    }

    .main-text-box h1 {
        text-align: left;
    }

    .row,
    .col {
        width: 100% !important;
        margin: 0 0 4% 0;
    }

    .main-nav li {
        display: block;
        text-align: left;
    }

    .main-nav {
        width: 100%;
    }

    .main-nav li a,
    .main-nav li a:link,
    .main-nav li a:visited {
        border: 0;
        display: block !important;
        float: none;
    }

    /*Mobile Main nav icon */
    .main-nav-icon {
        display: inline-block;
        margin-left: 30px;
        margin-top: -10px;
    }

    .main-nav-icon i {
        font-size: 200%;
        color: #fff;
    }

    h1 {
        font-size: 180% !important;
    }

    h2 {
        font-size: 150% !important;
    }

    .long-text {
        width: 100% !important;
        margin-left: 0%;
    }

    #return-to-top {
        display: none !important;
    }

    .filtr-item im {
        max-width: 110% !important;
        max-height: 110% !important;
    }

    .filtr-item img {
        object-fit: cover;
    }

    .plan-box {
        margin-bottom: 20px;
    }

    .main-text-box a {
        margin: 10px;
    }

    .contact-form {
        padding: 10px;
    }

}

@media only screen and (max-width: 480px) {
    .section {
        padding: 25px 0;
    }

    .contact-form {
        width: 100%;
    }
}