* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: grey;
    color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("images/picture-leg-press.jpeg");
    background-position: center;
}

h1 {
    margin: 0 !important;
    margin-bottom: 20px !important;
    color: #ffff;
    font-size: 240% !important;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.main-text-box {
    position: absolute;
    width: 1140px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%); /** Text position*/
}

/*-------------------------------------------*/
/*Buttons*/
/*-------------------------------------------*/
.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    /*Transition between colors and borders when hovering/clicking on it*/
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #00d2d3;
    border: 1px solid #00d2d3;
    color: #fff;
    margin-right: 20px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #00d2d3;
    border: 1px solid #009d9e;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #009d9e;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #009d9e;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
    border: 1px solid #009d9e;
}

/*-------------------------------------------*/
/*Menu*/
/*-------------------------------------------*/
.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block; /* show side by side*/
    margin-left: 40px;
    margin-top: 55px;
}

.main-nav li a:visited,
.main-nav li a:link {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;

}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #00d2d3;
}

/*-------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------*/
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/*-------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------*/

/*.body-background {*/
/*background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)), url(/resources/images/picture-leg-press.jpeg) no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover;*/
/*color: #fff;*/
/*}*/