/*Base color: #61D2B4;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Arial', sans-serif !important;
    font-size: 100% !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Lato', 'Arial', sans-serif !important;
    font-size: 16px !important;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    line-height: 1.15 !important;;
}

.row {
    max-width: 1140px;
    margin: 0 auto !important;
}

header {
    height: 100vh !important;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("images/picture-leg-press.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
}

.box {
    padding: 1%;
}

/*-------------------------------------------*/
/* Text - h1/h2/.../p*/
/*-------------------------------------------*/
.box p {
    font-size: 90%;
    line-height: 145%;
}

h1,
h2,
h3 {
    font-weight: 300 !important;
    text-transform: uppercase;
    font-family: 'Lato', 'Arial', sans-serif !important;
}

h1 {
    font-size: 240% !important;
    /*This will be the 48px because the html font-size is 20px*/
    margin-top: 0 !important;
    margin-bottom: 20px;
    color: #fff !important;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180% !important;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

/*put a line between below the text*/
h2:after {
    display: block;
    height: 2px;
    background-color: #61D2B4;
    content: " "; /* very important for when defining a after class*/
    width: 100px;
    margin: 10px auto 0 auto;
}

h3 {
    margin-top: 10px;
    font-size: 110%;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 400
}

.long-text {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.main-text-box {
    position: absolute;
    width: 1140px;
    top: 75%;
    left: 65%;
    transform: translate(-50%, -50%); /** Text position*/
}

blockquote {
    padding: 5px !important;
    margin: 0 0 !important;
    border-left: none !important;
}

cite {
    font-style: italic !important;
}

/*-------------------------------------------*/
/*Buttons*/
/*-------------------------------------------*/
.btn {
    display: inline-block;
    padding: 10px 30px !important;
    font-weight: 300 !important;
    text-decoration: none;
    border-radius: 200px !important;
    /*Transition between colors and borders when hovering/clicking on it*/
    transition: background-color 0.3s, border 0.3s, color 0.3s !important;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #61D2B4 !important;
    border: 1px solid #61D2B4 !important;
    color: #000;
    margin-right: 20px;
    transition: background-color 0.3s, border 0.3s, color 0.3s !important;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #61D2B4 !important;
    border: 1px solid #61D2B4;
    transition: all 0.3s, border 0.3s, color 0.3s !important;
}

.btn:hover,
.btn:active {
    background-color: #61D2B4 !important;
    color: #fff !important;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #61D2B4;
    color: #fff !important;
    font-weight: 400;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff !important;
    border: 1px solid #61D2B4;
    font-weight: 400;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(97, 210, 180, 0.8);
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #61D2B4;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/*-------------------------------------------*/
/*Menu*/
/*-------------------------------------------*/
.main-nav {
    float: right;
    background-color: black;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: right;
    z-index: 10
}

.main-nav li {
    list-style: none;
    background: #0d0d0d;
    display: inline-block; /* show side by side*/
}

.main-nav li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 110%;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    padding: 6px 10px 4px 10px !important;
    border-radius: 200px;
    transition: background-color .5s ease-out;
}

.main-nav li:visited,
.main-nav li:link {
    color: #fff;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.main-nav li a.active {
    background-color: #61D2B4;
    border-radius: 200px;
    color: #fff;
}

.section-services h3::after,
.main-nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #61D2B4;
    transition: width .4s;
}

.section-services h3:hover::after,
.main-nav li a:hover::after {
    width: 100%;
}

/*-------------------------------------------*/
/* Logo/Icons
/*-------------------------------------------*/
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.services-icons {
    height: 65px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: 37%;
    padding: 4px 0;
}

/*-------------------------------------------*/
/* Sections
/*-------------------------------------------*/
section {
    padding: 80px 0;
}

.section-gallery {
    padding: 80px 80px;
    height: 100vh;
    background-color: #f0f0f0;
}

.section-testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("images/picture-leg-press.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    color: #fff;
}

.section-services,
.section-testimonials {
    height: 80vh !important;

}

/*-------------------------------------------*/
/* GALLERY & IMAGES*/
/*-------------------------------------------*/
.gallery-controller ul li {
    display: inline-block;
    margin: 10px 0;
    align-items: right;
}

.filtr-item {
    height: 240px;
    width: 240px;
}

.filtr-button {
    border: none;
    font-weight: 400;
    padding: 0.75rem 1.5rem;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 1s, border 0.3s, color 0.3s;
}

.filtr-button:active,
li.filtr-button.filtr.active {
    background-color: #61D2B4;
}

.filtr-button:hover {
    background-color: #61D2B4;
    color: #fff;
    cursor: pointer;
}

@media (min-width: 768px) {
    .showcase .customize-row .filtr-button {
        margin-top: 0.5rem
    }
}

.filtr-item {
    overflow: hidden;
    width: 25.1%
}

.filtr-item img {
    width: 110%;
    height: 110%; /*this is optional*/
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    transition: all .5s ease-out;
    position: relative;
    border-radius: 5px;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%)
}

.filtr-item img:hover {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25)
}

.testimonial-picture {
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

/*=======================================================================*/
/*Carousel Slider / Testimonials*/
/*=======================================================================*/

/* carousel */
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    text-align: center;
}

/* indicator position */
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}

/* indicator color */
#quote-carousel .carousel-indicators li {
    background: #ffffff;
    border: none;
}

/* active indicator */
#quote-carousel .carousel-indicators .active {
    background: #61D2B4;
    height: 10px;
    width: 10px;
    margin-bottom: 1px;
}

/*===================================================================*/
/*PRICE SIGN UP*/
/*===================================================================*/
.plan-box {
    background-color: #f7f7f7;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 3px 3px #e2e2e2;
    transition: all .2s ease-out;
    position: relative;

}

.plan-box:hover {
    transform: scale(1.04, 1.05);
    box-shadow: 0 20px 40px rgba(33, 33, 33, .2);
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #dcdcdc;
}

.plan-price {
    font-size: 200%;
    margin-bottom: 10px;
    font-weight: 400;
    color: #61D2B4;
}

.plan-price span {
    font-size: 45%;
}

.times-per-week {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box i {
    font-size: 12px;
    margin: 0 4px;
    color: rgba(23, 50, 43, 0.73);
}

.plan-box div:first-child {
    background-color: #ebebeb;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.plan-box div:last-child {
    text-align: center;
    border: none;
}

/*===========================================================*/
/* CONTACT FORM*/
/*===========================================================*/
.contact-form {
    width: 100%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #a1a1a1;
}

*:focus {
    outline: none;
}

.contact-info {
    padding: 0 10px;
    text-decoration: none;
}

.contact-info i {
    padding-right: 10px;
    float: left;
    color: #8e8e8e;
    transition: all 0.4s;
}

.contact-info h3 {
    margin: 0;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}

.contact-info i:hover,
.contact-info h3:hover {
    color: #61D2B4;
}

.contact-info a:link,
.contact-info a:visited {
    text-decoration: none;
    color: black;
}

/*===========================================================*/
/* FOOTER*/
/*===========================================================*/

footer {
    background-color: #333;
    color: #a3a3a3;
}

.footer-nav {
    list-style: none;
    font-size: 200%;
}

.footer-nav li {
    margin: 2px 20px;
    display: inline-block;
}

.fa-facebook-square:hover {
    color: #3B5998;
}

.fa-youtube:hover {
    color: red;
}

.footer-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: #afafaf;
}

.fa-instagram:hover {
    color: #61D2B4;
}

footer p {
    color: #8888;
    text-align: center;
    font-size: 85%;
}

/*@media (min-width: 768px) {*/
/*.main-nav {*/
/*background-color: transparent*/
/*}*/
/*}*/

/*.main-nav .container {*/
/*padding: 1rem 1rem 0.5rem 1rem*/
/*}*/

/*@media (min-width: 768px) {*/
/*.main-nav .container {*/
/*padding: 1rem 0 0.5rem 0*/
/*}*/
/*}*/

/*.main-nav ul {*/
/*display: block;*/
/*visibility: hidden;*/
/*transition: visibility .5s ease-out;*/
/*position: absolute;*/
/*left: -2rem;*/
/*top: 4rem*/
/*}*/

/*@media (min-width: 768px) {*/
/*.main-nav ul {*/
/*visibility: visible;*/
/*position: static*/
/*}*/
/*}*/

/*.main-nav ul li {*/
/*display: block;*/
/*opacity: 0;*/
/*padding: 0.5rem 0;*/
/*-webkit-transform: translateX(16rem) scale(0);*/
/*-moz-transform: translateX(16rem) scale(0);*/
/*-ms-transform: translateX(16rem) scale(0);*/
/*-o-transform: translateX(16rem) scale(0);*/
/*transform: translateX(16rem) scale(0);*/
/*transition: all .5s ease-out;*/
/*z-index: 10*/
/*}*/

/*@media (min-width: 768px) {*/
/*.main-nav ul li {*/
/*display: inline-block;*/
/*padding: 0;*/
/*opacity: 1;*/
/*-webkit-transform: translateX(0) scale(1);*/
/*-moz-transform: translateX(0) scale(1);*/
/*-ms-transform: translateX(0) scale(1);*/
/*-o-transform: translateX(0) scale(1);*/
/*transform: translateX(0) scale(1);*/
/*transition: none*/
/*}*/
/*}*/

/*.main-nav ul li:nth-child(1), .main-nav ul li.open:nth-child(1) {*/
/*-webkit-transition-delay: 0.05s;*/
/*-moz-transition-delay: 0.05s;*/
/*transition-delay: 0.05s*/
/*}*/

/*.main-nav ul li:nth-child(2), .main-nav ul li.open:nth-child(2) {*/
/*-webkit-transition-delay: 0.1s;*/
/*-moz-transition-delay: 0.1s;*/
/*transition-delay: 0.1s*/
/*}*/

/*.main-nav ul li:nth-child(3), .main-nav ul li.open:nth-child(3) {*/
/*-webkit-transition-delay: 0.15s;*/
/*-moz-transition-delay: 0.15s;*/
/*transition-delay: 0.15s*/
/*}*/

/*.main-nav ul li:nth-child(4), .main-nav ul li.open:nth-child(4) {*/
/*-webkit-transition-delay: 0.2s;*/
/*-moz-transition-delay: 0.2s;*/
/*transition-delay: 0.2s*/
/*}*/

/*.main-nav ul li.open {*/
/*opacity: 1;*/
/*-webkit-transform: translateX(0) scale(1);*/
/*-moz-transform: translateX(0) scale(1);*/
/*-ms-transform: translateX(0) scale(1);*/
/*-o-transform: translateX(0) scale(1);*/
/*transform: translateX(0) scale(1)*/
/*}*/

/*.main-nav ul.open {*/
/*visibility: visible;*/
/*z-index: 10*/
/*}*/

/*.main-nav .overlay {*/
/*background: -webkit-linear-gradient(#171717, transparent);*/
/*background: linear-gradient(#171717, transparent);*/
/*opacity: 0;*/
/*height: 70vh;*/
/*width: 100%;*/
/*position: absolute;*/
/*left: 0;*/
/*right: 0;*/
/*top: 3.2rem;*/
/*transition: opacity .5s ease-out, visibility .5s ease-out;*/
/*visibility: hidden*/
/*}*/

/*.main-nav .overlay.open {*/
/*opacity: 1;*/
/*z-index: 9;*/
/*visibility: visible*/
/*}*/

/*.main-nav a:link, .main-nav a:visited {*/
/*color: rgba(255, 255, 255, 0.65);*/
/*font-size: 90%;*/
/*font-weight: 300;*/
/*letter-spacing: 0.15rem;*/
/*text-transform: uppercase;*/
/*text-decoration: none;*/
/*transition: all 0.25s ease-out;*/
/*padding: 1rem*/
/*}*/

/*.main-nav a:link:hover, .main-nav a:link:active, .main-nav a:visited:hover, .main-nav a:visited:active {*/
/*color: #e67e22*/
/*}*/




